<strong>Hello {{username}}</strong>

<p>A request has been received to change the password for your account</p>

<p>To proceed with password recovery, use the token {{token}} or click on the link below</p>

<a href="{{link}}">Reset password</a>