<strong>New bet</strong>

<p>Your new bet has been successfully created</p>

<p>----------------------------------------------------------</p>

<p>This is your bet information</p>

<p>Game: {{game}}</p>
<p>Numbers: {{numbers}}</p>
<p>Price: R$ {{price}}</p>
<p>Created at: {{date}}</p>
